header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    .index {
        a {
            font-family: "Satisfy", cursive;
            font-size: 4rem;
            margin-left: 300px;
            color: #004d8b;
            text-decoration: none;
        }
    }

    nav {
        margin-right: 100px;
        ul {
            display: flex;
            li {
                list-style: none;
                a {
                    color: #004d8b;
                    text-decoration: none;
                    padding: 15px 20px;
                    font-size: 1.2rem;
                    &:hover {
                        color: #f61f21;
                        border-bottom: 2px solid;
                        padding-bottom: 0px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
