*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    margin: auto;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    margin-top: 30px;
}
tbody{
    text-align: center;
}